Leture/
Task 1. Month/x64/
Task 1. Month/.vs/
Task 1. Month/GettingToKnowVisualStudio.vcxproj.user
Task 2. Scores/x64/
Task 2. Scores/.vs/
Task 2. Scores/GettingToKnowVisualStudio.vcxproj.user
Task 3. Output of the structure/x64/
Task 3. Output of the structure/.vs/
Task 3. Output of the structure/GettingToKnowVisualStudio.vcxproj.user